.header{   
    top: 0;
    position: absolute;
    background-image: linear-gradient(50deg, #5F71E4, #8160E4 100%);
    width: 100%;
    height: 60px;
}

.logoff{
    position: absolute;  
    right: 4%;
    color: white;   
    top: 17px;
    z-index: 10;  
}

.name-user{
    margin-left: 15px;
    position: absolute;
    top: 17px;
    z-index: 10;
}