<div class="card shadow" style="height: 100vh">

  <div class="card-header border-0">
    <h1 class="mb-0">
      Produtos Selecionados
    </h1>
  </div>

  <div class="card-body">
    <div class="table-responsive" id="table">
      <table class="table table-hover align-items-center">
        <thead class="thead-light">
          <tr class="font-weight-bold text-center">
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{produto.nome}}</td>
            <td class="text-center">{{produto.quantidade}}</td>
            <td class="text-center">R$ {{produto.preco | number: '1.2-2'}}</td>
            <td class="text-center">R$ {{produto.total | number: '1.2-2'}}</td>
            <td class="text-center">
              <button (click)="removerProduto(produto.id)" class="btn btn-sm btn-danger">Remover</button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="produtos.length">
            <tr class="text-center font-weight-bold">
                <td>Total</td>
                <td colspan="2"></td>
                <td>R$ {{valorTotal | number: '1.2-2'}}</td>
                <td></td>
            </tr>
        </tfoot>
      </table>
    </div>

    <div class="row mt-4">
      <div class="col text-right">
        <button *ngIf="produtos.length" (click)="confirmarPedido()" type="button" class="btn btn-success">Confirmar Pedido</button>
      </div>
    </div>
  </div>

</div>
