<div class="card-group">
  <div *ngFor='let produto of produtos' class="col-md-4 col-sm-6 text-center mt-2 mb-2">
    <div class="card shadow">
      <div class="row">
        <div class="col mt-1">
          <img class="card-profile-image" src="{{produto.node.image_src}}" style="width: 130px" alt="Card image cap">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{produto.node.nome}}</h5>
        <p class="card-text">Quantidade: </p>
        <input #quantidade type="number" min="0" class="form-control">
        <p class="card-text">Valor: {{produto.node.preco}} </p>
        <p class="card-text"><small class="text-muted">{{produto.node.descricao}}</small></p>
        <button (click)="adicionarProdutoCarrinho(produto.node, quantidade.value)" class="btn btn-secondary"
          *ngIf="!verificarProdutoCarrinho(produto.node.id)">
          Adicionar
        </button>
        <button (click)="removerProdutoCarrinho(produto.node.id)" class="btn btn-danger"
          *ngIf="verificarProdutoCarrinho(produto.node.id)">
          Remover
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2">
    <div class="pt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngIf="hasPrevPage">
            <a class="page-link" (click)="voltar()" aria-label="Previous">
              <i class="fa fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li *ngFor="let pag of pagination" (click)="irPagina(pag)" [ngClass]="{'active': pag == paginator}" class="page-item">
            <a class="page-link">
              {{pag}}
            </a>
          </li>

          <li class="page-item" *ngIf="hasNextPage">
            <a class="page-link" (click)="avancar()" aria-label="Next">
              <i class="fa fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
