/* .produto{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 30%;
    height: 400px;
    margin: 1%;
}
.card-max{
  max-width: 340px;
}
.produto img{
  position: relative;  
  width: 300px;
  height: 250px;
  margin-left: 22px;
  margin-top: 22px;
  margin-right: 22px;
}

.produto h3{
    margin-left: 22px;
    margin-top: 5px;
    font-style: bold;
}

.produto span{
  margin-left: 22px;
  margin-top: 5px;
}

.produto .produto-quantidade{
  margin-left: 22px;
  margin-top: 5px;
}

.produto .produto-comprar{
  right: 0;
}
 */
