<div class="card shadow">
  <div class="card-header border-0">
    <h1 class="mb-0">Historico de Pedidos</h1>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr class="text-center">
            <th>Pedido</th>
            <th>Data</th>
            <th>Preço total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos" class="text-center">
            <td>{{pedido.node.id}}</td>
            <td>{{pedido.node.data_pedido | date: 'dd/MM/yyyy'}}</td>
            <td>R$ {{pedido.node.preco_total | number: '1.2-2'}}</td>
            <td>
              <button (click)="visualizarProdutosPedido(pedido.node.id)" class="btn btn-sm btn-secondary">Visualizar
                Produtos</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
