<div class="card shadow" style="height: 100vh">

  <div class="card-header border-0">
    <h1 class="mb-0">
      Lista de Produtos
    </h1>
  </div>

  <div class="card-body">
    <div>
      <div class="row">
        <div class="col">
          <h4>Filtro por categoria</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <select [(ngModel)]="categoria" class="form-control" id="opcoesCategorias">
            <option value="0">Tudo</option>
            <option *ngFor="let item of categorias" value="{{item.node.id}}">{{item.node.nome}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="table-responsive mt-5" id="table">
      <table class="table table-hover align-items-center">
        <thead class="thead-light">
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">
              <button (click)="irAdicionarProduto()" class="btn btn-sm btn-primary" type="button">Novo</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let produto of filtrarCategorias">
            <td class="text-center">{{produto.node.id}}</td>
            <td>{{produto.node.nome}}</td>
            <td class="text-center">R$ {{produto.node.preco | number: '1.2-2'}}</td>
            <td class="text-center">
              {{produto.node.categoria.nome}}
            </td>
            <td class="text-center">
              <button (click)="irEditarProduto(produto.node.id)" class="btn btn-sm btn-primary">Editar</button>
              <button (click)="deletarProduto(produto.node.id)" class="btn btn-sm btn-danger">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
