<div class="pt-6">
  <div class="body pr-4 pl-4">
    <h1> Cadastrar Produto</h1>
    <form [formGroup]="form" (ngSubmit)="salvar()">
      <div class="row">
        <div class="col-lg-8">
          <div class="form-group">
            <label class="form-control-label" for="nome">Nome do Produto</label>
            <input formControlName="nome" type="text" id="nome" class="form-control form-control-alternative">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label" for="valor">Valor</label>
            <input formControlName="preco" type="number" id="valor" class="form-control form-control-alternative">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label" for="altura">Altura do Pacote (cm)</label>
            <input formControlName="altura" type="number" id="altura" class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label" for="largura">Largura do Pacote (cm)</label>
            <input formControlName="largura" type="number" id="largura" class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label" for="profundidade">Profundidade do Pacote (cm)</label>
            <input formControlName="profundidade" type="number" id="profundidade"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label" for="peso">Peso</label>
            <input formControlName="peso" type="number" id="peso" class="form-control form-control-alternative">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="form-group">
            <label class="form-control-label" for="categoria">Categoria do Produto</label>
            <select formControlName="categoriaId" id="categoria" class="form-control">
              <option *ngFor="let categoria of categorias" value="{{categoria['node'].id}}">{{categoria['node'].nome}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Imagem</label>
            <br>
            <label *ngIf="!image_src" class="btn btn-primary">
              Selecionar Imagem
              <input (change)="onFileChange($event.target.files)" type="file" hidden>
            </label>
            <label *ngIf="image_src">
              <img [src]="image_src" class="img-thumbnail" style="max-height: 200px">
              <input (change)="onFileChange($event.target.files)" type="file" hidden>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-control-label" for="descricao">Descrição do Produto</label>
            <textarea formControlName="descricao" class="form-control form-control-alternative" id="descricao"
              rows="2"></textarea>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col text-right mb-4">
          <button *ngIf="!idProduto" [disabled]="form.invalid || submitted" class="btn btn-primary"
            type="submit">Cadastrar Produto</button>
          <button *ngIf="idProduto" [disabled]="form.invalid || submitted" class="btn btn-primary"
            type="submit">Atualizar
            Produto</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- modal imagem -->
<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-2">
      <div class="row">

        <div class="col-12">
          <label title="Upload da Imagem" for="inputImage" class="btn btn-primary">
            <input id="inputImage" type="file" (change)="fileChangeEvent($event)" style="display: none" />
            Inserir Imagem
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <image-cropper [imageChangedEvent]="imageChangedEvent" format="png" style="width: 612px; float: left;"
            (imageCropped)="imageCropped($event)" [aspectRatio]="16/9" [resizeToWidth]="400" (lyScaleDown)="true"
            [cropperMinWidth]="400">
          </image-cropper>

        </div>
        <div *ngIf="croppedImage" class="col-md-6">
          <h4>Pré-visualização</h4>
          <div class="img-preview img-preview-sm" *ngIf="croppedImage">
            <img class="m-l" [src]="croppedImage" style="width: 360px; height: 180px; float: left;" />
          </div>
          <br>
          <button class="btn btn-primary float-right m-2" *ngIf="croppedImage" data-dismiss="modal">Salvar</button>
        </div>

      </div>
    </div>
  </div>
</div> -->
