<div class="card shadow" style="height: 100vh">

    <div class="card-header border-0">
      <h1 class="mb-0">
        Produtos - Pedido {{idPedido}}
      </h1>
    </div>
  
    <div class="card-body">
      <div class="table-responsive" id="table">
        <table class="table table-hover align-items-center">
          <thead class="thead-light">
            <tr class="font-weight-bold text-center">
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Total</th>
              <th>Peso</th>
              <th>M³</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{produto.node.produto.nome}}</td>
              <td class="text-center">{{produto.node.quantidade}}</td>
              <td class="text-center">R$ {{produto.node.preco | number: '1.2-2'}}</td>
              <td class="text-center">R$ {{produto.node.pedido.preco_total | number: '1.2-2'}}</td>
              <td class="text-center">{{peso(produto)}}</td>
              <td class="text-center">
                {{metragemCubica(produto)}}
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="produtos?.length">
              <tr class="text-center font-weight-bold">
                  <td>Total</td>
                  <td>{{quantidade}}</td>
                  <td></td>
                  <td>R$ {{precoTotal | number: '1.2-2'}}</td>
                  <td>{{pesoTotal}}</td>
                  <td>{{metragemTotal}}</td>
              </tr>
          </tfoot>
        </table>
      </div>
  
    </div>
  
  </div>
  