<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
            aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0">
            <h1 class="title-h1">{{me?.name}}</h1>
        </a>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                            aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li *ngIf="me && (me.role === 'ADMIN' || me.role === 'SELLER')" class="nav-item">
                    <a [routerLink]="['/empresa/produtos']">
                        <div class="nav-link" [ngClass]="{'active': '/empresa/produtos' === url}"><i
                                class="ni ni-bullet-list-67 text-primary zoon2"></i>
                            Listar Produto
                        </div>
                    </a>
                </li>
                <li *ngIf="me && (me.role === 'ADMIN' || me.role === 'SELLER')" class="nav-item">
                    <a [routerLink]="['/empresa/produtos/cadastrar']">
                        <div class="nav-link" [ngClass]="{'active': '/empresa/produtos/cadastrar' === url}"> <i
                                class="ni ni-fat-add text-primary zoon2"></i>
                            Cadastrar Produto
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/produtos']">
                        <div class="nav-link" [ngClass]="{'active': '/produtos' === url}"> <i
                                class="ni ni-collection text-primary"></i>
                            Catalogo
                        </div>
                    </a>
                </li>
                <li *ngIf="me && (me.role === 'ADMIN' || me.role === 'DEALER')" class="nav-item">
                    <a [routerLink]="['/distribuidora/confirmar']">
                        <div class="nav-link" [ngClass]="{'active': '/distribuidora/confirmar' === url}"> <i
                                class="ni ni-basket text-primary zoon2"></i>
                            Confirmar pedido distribuidor
                        </div>
                    </a>
                </li>
                <!-- <li *ngIf="me && (me.role === 'ADMIN' || me.role === 'DEALER')" class="nav-item">
                    <a [routerLink]="['/distribuidora/finalizado']">
                        <div class="nav-link" [ngClass]="{'active': '/distribuidora/finalizado' === url}"> <i
                                class="ni ni-cart text-primary zoon2"></i>
                            Finalizar pedido distribuidor
                        </div>
                    </a>
                </li> -->
                <li *ngIf="me && (me.role === 'ADMIN' || me.role === 'DEALER')" class="nav-item">
                    <a [routerLink]="['/distribuidora/historico']">
                        <div class="nav-link" [ngClass]="{'active': '/distribuidora/historico' === url}"> <i
                                class="ni ni-books text-primary zoon2"></i>
                            Historico de Pedidos
                        </div>
                    </a>
                </li>
                <hr class="my-3">
            </ul>
        </div>
    </div>
</div>